<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031422586690-19ngf103t4b0bim3d7er0kauphf67e6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031422586690-19ngf103t4b0bim3d7er0kauphf67e6d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>525472070731-08i8u2b95ivqj61qvhuc1ikj6fttipq0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMbg0M6x57woEuSS6991lec3sC5fuUu1w</string>
	<key>GCM_SENDER_ID</key>
	<string>1031422586690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anahuac.Financia</string>
	<key>PROJECT_ID</key>
	<string>financia-ecada</string>
	<key>STORAGE_BUCKET</key>
	<string>financia-ecada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031422586690:ios:2ff5a580f73f0930c2e2db</string>
	<key>DATABASE_URL</key>
	<string>https://production-a9404.firebaseio.com</string>
</dict>
</plist>
